<header class="page-header bg-light product-page overflow-hidden">
  <div class="container d-flex w-100 h-100 justify-space-between align-items-md-center align-items-start flex-column flex-md-row position-relative">
    <div class="hero-copy order-md-1 order-2 text-left overflow-hidden">
      <div class="inner">
        <h5 class="text-primary">Transformative Collaborative Space</h5>
        <h3>The Plaza Space</h3>
        <p class="lead">A unique synthesis of furniture and architecture, Twofold products can improve the fundamental economics of any open space. Our mobile booth gives new life to open floorplans that require flexibility and productivity.</p>
<!--         <a class="btn btn-solid btn-primary pr-3" href="./collections/plaza">Purchase</a> -->
        <!-- <a class="btn btn-solid btn-secondary anchorLink" href="#contact">Contact Sales</a> -->
      </div>
    </div>
    <div class="hero-media order-1 order-md-2 mb-5 mb-md-0  py-5 py-md-0 position-relative">
      <img src="{{ 'booth-01_2x.png' | asset_url }}" class="d-block w-100 h-auto" alt="Twofold USA Plaza Pod" />
    </div>
  </div>
</header>

{% section 'content-card-summary' %}

<!-- <section id="models" class="container cards">
  <div class="card box-shadow">
    <div class="card-body text-center p-0">
      <h4 class="mb-5">Choose your model.</h4>
      <div class="d-flex flex-md-equal flex-md-row flex-column w-100 flex-row justify-content-between align-items-bottom">
        <div class="pr-lg-4 mb-5 mb-md-0 text-center">
          <a class="" href="/products/plaza-standing">
            <h6 class="my-0">Standing</h6>
            <img src="{{ 'NX_Booth_59.191p.png' | asset_url }}" class="h-100" alt="Twofold Plaza Space - Standing" />
          </a>
        </div>
        <div class="pl-lg-4 text-center">
          <a class="" href="/products/plaza-sitting">
            <h6 class="my-0">Sitting</h6>
            <img src="{{ 'NX_Booth_55.168p.png' | asset_url }}" class="h-100" alt="Twofold Plaza Space - Sitting" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="feature-block wide container w-100">
  <div class="row">
    <div class="overflow-hidden feature-block-media col mx-auto">
      <img src="{{'booth_video_placeholder_2x.jpg' | asset_url}}" class="h-auto w-100" alt="Twofold Plaza Space" />
    </div>
  </div>
  <div class="row ">
    <div class="col feature-block-copy mx-auto mt-5 text-center">
      <h3>Making the Open Office Work</h3>
      <p>Give new life to open floor plans that require flexibility and productivity. Provide focus and collaboration spaces for offices, airports, trade shows, manufacturing, warehousing, libraries, and lobbies. Create creative, branded or calming space by deciding what you want on the walls. Featuring comfortable bench seating, a large desk, height adjustability and handy whiteboard and photography options, our Plaza System lets you do more with less.</p>
    </div>
  </div>
</section>

<section class="feature-block d-flex w-100 px-lg-3 px-0 flex-lg-row flex-column justify-content-center align-items-end">
  <div class="overflow-hidden feature-block-media order-1 mb-5 mb-md-0">
    <img src="{{'BOOTH_scene_wework_2x.jpg' | asset_url}}" class="h-auto w-100 pr-md-5" alt="Twofold Plaza Space" />
  </div>
  <div class="overflow-hidden order-2">
   <div class="feature-block-copy narrow mx-auto text-left">
     <h5 class="text-primary">Make Any Space Your Own</h5>
     <h3>Customized Anywhere You Want It</h3>
     <p class="mb-0">A unique synthesis of furniture and architecture, Twofold products can improve the fundamental economics of any open space. Our mobile booth gives new life to open floorplans that require flexibility and productivity.</p>
   </div>
 </div>
</section>

<section class="feature-block wide container w-100 mb-lg-0">
  <div class="row">
    <div class="overflow-hidden feature-block-media col mx-auto">
      <img src="{{'booth_199_2x.jpg' | asset_url}}" class="h-auto w-100" alt="Twofold Plaza Space" />
    </div>
  </div>
  <div class="row ">
    <div class="col feature-block-copy mx-auto ml-0 mt-5 text-left">
      <h2>Workspace when you need it.</h2>
      <p>Developed following extensive research into the mobile workplace environment, Twofold's first products were conceived, designed, and fabricated by a multidisciplinary team of makers, architects, and interior designers.</p>
      <a class="btn btn-underline btn-underline-primary anchorLink" href="#contact">Get in touch</a>
    </div>
  </div>
</section>
